body
{
    background: #a3c28c7c;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0, 0;
    padding: 0;
}

#container
{
    width: 90%;
    box-shadow: 0px 2px 20px 0px rgb(0, 37, 5);
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: auto;
}


#cabecera
{
    font-size: 25px;
    background: rgba(59, 160, 62, 0.6);
    box-shadow: 0px 2px 20px 0px rgb(0, 37, 5);
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

#hyperblog
{
    margin: 20px;
    width: 350px;
    float: left;
    border: 1px solid blue;
}
  
#cabecera .logo
{
    width: 20px;
    padding: 20px;
    vertical-align: middle;
}

#cabecera .links
{
    border: 1px solid red;
    list-style: none;
    padding: 1px 100px;
    font-weight: normal;
    font-size: 0.8em;
}

#tagline li
{
    border: 1px solid black;
    text-align: left;
    list-style: none;
    padding: 0px 400px 0px 0px;
    display: inline-block;
}

#container h1
{
    font-size: 40px;
}

#pie
{
    display: block;
    border: 1px solid blue;
    text-align: left;
    width: auto;
    background: #aaaaaa;
    padding: 1px;
}

#pie address
{
    display: inline-block;    
}
    
#post
{
    font-size: 30px;
    background: white;
    padding: 10px 20px;
}