body
{
    background: #003a09af;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    margin: 0, 0;
    padding: 0;
}

#container
{
    width: 90%;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: auto;
}


#container #cabecera
{
    font-size: 25px;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

#cabecera #hyperblog
{
    outline-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 100px 0px 0px;
}

#cabecera {
}
  
#cabecera img
{
    text-align: center;
    width: 80px;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
}

#cabecera #tagline
{   
    display: inline-block;
    padding: 1px 10px;
    font-weight: normal;
    font-size: 0.8em;
}

#tagline li
{
    display: inline-block;
    list-style: none;
    text-align: left;
    padding: 0px 50px 0px 0px;
}

#container h1
{
    font-size: 40px;
}

#pie
{
    display: block;
    text-align: left;
    width: auto;
    background: #aaaaaa;
    padding: 1px;
}

#pie address
{
    display: inline-block;    
}
    
#post
{
    text-align: left;
    font-size: 25px;
    background: white;
    padding: 1px 50px;
} 

#estante {
    margin: 1px 1px;
    padding: 1px 200px;
    width: 10px 100px;
    text-align: center;
}

a {
    color: rgb(18, 22, 17);
    text-align: center;
    font-family: Arial;
    font-size: auto;
    text-decoration: none;
    margin: 1px 10px 10px 30px;
    display: inline-block;
    box-shadow: 6px 9px 15px -9px rgba(0,0,0,1);
}

a:hover {
    box-shadow: 4px 7px 15px -9px rgba(0,0,0,1);
    color: rgb(77, 90, 74);
    text-decoration: underline;
}

a:active {
    box-shadow: 0px 0px 0px 0px rgba(30, 31, 30, 0.87);
    color: rgb(77, 90, 74);
}